*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.8);
}

.container{
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    padding: 200px 0;
    text-align: center;
 
}

header{
    color: #fff;
    margin-bottom: 16px;
    font-style: italic;
    text-transform: uppercase;
}

form input, button{
    padding: 8px;
    font-size: 18px;
    margin-left: 8px;
    border: none;
    outline: none;
    border-radius: 8px;
}

p{
    font-size: 18px;
    margin-top: 16px;
    color: #fff;
    border-bottom: 2px dotted #fff;
    /* border-style: dotted; */
    padding-bottom: 16px;
}

button{
    background-color: green;
    color: #fff;
    cursor: pointer;
}

/* button:hover{
    margin-left: 10px;
    margin-right: 10px;
    transition: all ease 0.3s;
} */

ul{
    margin-top: 24px;
    list-style: none;  
}

li{
    cursor: pointer;
}

ul li{
   margin-bottom: 16px;
   font-size: 24px;
   color: #fff;
}

.completed{
    text-decoration: line-through;
}
